
@use '../variables/colors' as *;




.Main{
    width: 80%;
    height: 100%;
    background-color: $seccodarygbcolor;
    justify-self: center;
    display: inline;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width:614px) {
        &{
            width: 95%;
            justify-self: center;
        }
    }
}














